# fastapi
# uvicorn
# streamlit
# google-generativeai
# chromadb
# groq
# python-dotenv
# requests
# pymupdf
# tiktoken

# fastapi==0.110.0
# uvicorn[standard]==0.27.1
# pydantic==1.10.13
# chromadb==0.4.24
# python-dotenv==1.0.1
# openai
# tiktoken

fastapi==0.103.2
uvicorn[standard]==0.23.2
pydantic==1.10.13
python-dotenv==1.0.1
groq
chromadb==0.4.24
tiktoken
requests
pymupdf
numpy<2.0
